body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5); /* Fondo degradado */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para el mensaje de bienvenida */
h1 {
    font-size: 36px; /* Tamaño grande */
    color: #333; /* Color oscuro para el texto */
    text-align: center;
}

p {
    font-size: 24px; /* Tamaño medio */
    color: #555;
    text-align: center;
}